.header {
  top: 0;
  position: sticky;
  z-index: 999999;
  margin-bottom: 20px;
  padding-bottom: 15px;
  background-color: $bg-accent-color;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  &__logo {
    &_mobile {
      //display: none;
      height: 25px;
    }
  }
  &__top {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-list {
      display: flex;
      align-items: center;
      &_mobile {
        display: none;
      }
      &-item {
        display: block;
        font-size: 16px;
        font-weight: 300;
        color: $alt-text-color;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      &-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;

    &-search {
      padding: 5px 15px;
      display: none;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: fit-content;
      color: $alt-text-color;
      text-decoration: none;
      background-color: $search-input-color;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;

      &-icon {
        margin-left: 20px;
        width: 17px;
        height: 17px;
        fill: $alt-text-color;
      }
    }
  }
  &__col {
    display: flex;
    align-items: center;
  }
  &__contacts {
    display: flex;
    align-items: center;
    &-item, &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 30px;
      }
      &-icon {
        width: 30px;
        height: 30px;
        display: inline-block;
        fill: $alt-text-color;
      }
      &-text {
        font-size: 14px;
        color: $alt-text-color;
      }
    }
  }
}